:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-text-color: #4d5ae5;
  --secondary-text-color: #ffffff;
  --hover-text-color: #404bbf;
  --footer-text-color: #e7e9fc;
  --logo-footer-text-color: #f4f4fd;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --accent-bg-color: #f4f4fd;
  --button-bg-hero-color: #4d5ae5;
  --button-bg-hover-color: #404bbf;
  --form-color: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.address-contact {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--hover-text-color);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  display: flex;
  gap: 40px;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.logo {
  color: var(--title-text-color);
}

.logo-link {
  display: block;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  color: var(--hover-text-color);
}

.current-page::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--button-bg-hover-color);
  border-radius: 2px;
  bottom: -1px;
}

.address-contact {
  font-style: normal;
  margin-left: auto;
}

/* section hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.overlay {
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.hero-button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;

  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-hero-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-bg-hover-color);
}

/* section advantages */

.advantages {
  padding-top: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantages-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--accent-bg-color);
}

.advantages-logo {
  width: 64px;
  height: 64px;
}

/* section examples */

.examples-list {
  display: flex;
  gap: 24px;
}

.examples-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

/* section team */

.team {
  background-color: var(--accent-bg-color);
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.team-box {
  padding: 32px 16px;
  text-align: center;
}

.employee-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.social-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-bg-hero-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box .social-link:is(:hover, :focus) {
  background-color: var(--button-bg-hover-color);
}

.social-icon-team {
  width: 16px;
  height: 16px;
  fill: var(--accent-bg-color);
}

/* Customers */

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100%-5 * 24px) / 6);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #8e8f99;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link-logo {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customers-link:is(:hover, :focus) {
  color: #404bbf;
  border: 1px solid #404bbf;
}

/* section samples */

.radiobutton-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.samples {
  padding-top: 96px;
  padding-bottom: 120px;
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.samples-item {
  width: calc((100% - 2 * 24px) / 3);
}

.samples-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}

.samples-button {
  padding: 12px 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  background: var(--accent-bg-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-button:hover,
.samples-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-bg-hover-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.samples-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
}

.samples-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.samples-link {
  display: inline-block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.samples-link:hover .samples-overlay {
  transform: translateY(0);
}

.samples-thumb {
  position: relative;
  overflow: hidden;
}

.samples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--button-bg-hero-color);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-footer-text-color);
}

/* footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--secondary-bg-color);
}

.footer-box {
  display: flex;
  align-items: flex-start;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-text {
  max-width: 264px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.footer-logo {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.logo-studio {
  color: var(--logo-footer-text-color);
}

.footer-title-text {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.social-icon-footer {
  width: 24px;
  height: 24px;
  fill: var(--accent-bg-color);
}

.footer-social-box .social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.subscribe-footer-box {
  margin-left: 80px;
}

.subscribe-input {
  width: 264px;
  min-height: 40px;
  padding: 8px 16px;
  outline: transparent;
  background-color: inherit;
  color: var(--secondary-text-color);
  border: 1px solid #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--accent-text-color);
}

.subscribe-input:focus::placeholder {
  color: var(--accent-text-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subcribe-wrap {
  display: flex;
  gap: 16px;
}

.subscribe-button {
  width: 165px;
  min-height: 40px;
  padding: 8px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-hero-color);
  border: none;
  border-radius: 4px;
}

.subcribe-icon {
  fill: var(--primary-bg-color);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 336px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  color: var(--title-text-color);
  background-color: var(--footer-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:is(:hover, :focus) {
  color: var(--secondary-text-color);
  background-color: var(--button-bg-hover-color);
  border: 1px solid var(--button-bg-hover-color);
}

.close-btn-svg {
  fill: currentColor;
}

.backdrop.is-hidden {
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/*MODAL-FORM */

.modal-title {
  margin-top: 24px;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.form-field:not(:first-child) {
  margin-top: 8px;
}

.form-field.checkbox-field {
  margin-top: 16px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-color);
}

.feedback {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-top: 4px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  margin-left: 4px;
  outline: transparent;
  color: var(--accent-text-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link:focus {
  border: 1px solid #4d5ae5;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-color);
}

.checkbox-icon {
  padding: 4px 3px;
  fill: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.checkbox:checked + .checkbox-icon {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.modal-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.feedback:focus {
  border-color: var(--accent-text-color);
}

.modal-input:focus + .form-svg {
  fill: var(--accent-text-color);
}

.feedback:focus::placeholder {
  color: var(--accent-text-color);
}

.input-wrap {
  position: relative;
}

.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit {
  display: block;
  width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-bg-hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}
